.image-25-icon {
  position: absolute;
  top: -13px;
  left: 3px;
  width: 1437px;
  height: 958px;
  object-fit: cover;
}
.desktop-6-child {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: rgba(6, 122, 178, 0.46);
  width: 1440px;
  height: 945px;
}
.desktop-6-inner,
.desktop-6-item {
  position: absolute;
  top: 3309px;
  left: calc(50% - 717px);
  width: 1440px;
  height: 706px;
}
.desktop-6-inner {
  top: 5032px;
  left: calc(50% - 720px);
  height: 827px;
}
.management-consultants {
  position: absolute;
  top: 765px;
  left: 448px;
  font-size: 48px;
  line-height: 156px;
  font-weight: 500;
  font-family: Barlow;
}
.background-icon {
  position: absolute;
  top: 1173px;
  right: 216px;
  width: 1248px;
  height: 730.2px;
  object-fit: cover;
  display: none;
}
.desktop-6-child1,
.ellipse-div {
  position: absolute;
  border-radius: 50%;
}
.ellipse-div {
  top: 1278px;
  left: calc(50% - 453px);
  background-color: rgba(6, 122, 178, 0.12);
  width: 912px;
  height: 912px;
}
.desktop-6-child1 {
  top: 1361px;
  left: calc(50% - 358px);
  background-color: #067ab2;
  width: 717px;
  height: 717px;
}
.what-we-do {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 346px;
  height: 48px;
}
.background {
  position: absolute;
  top: 61px;
  left: 0;
  background-color: #fff;
  width: 40px;
  height: 4px;
}
.heading-2 {
  width: 996px;
  position: relative;
  height: 65px;
  font-size: 40px;
  font-family: Barlow;
}
.labour-laws-hr {
  width: 756px;
  position: relative;
  line-height: 32.04px;
  display: flex;
  align-items: center;
  height: 46px;
  flex-shrink: 0;
}
.advise-in-implementation {
  margin-bottom: 0;
}
.advise-in-implementation-appl {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 32px;
}
.advise-in-implementation-container {
  width: 741px;
  position: relative;
  line-height: 32.04px;
  display: inline-block;
  height: 578px;
  flex-shrink: 0;
}
.heading-2-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame-div {
  position: absolute;
  top: 2486px;
  left: calc(50% - 511px);
  width: 955px;
  height: 693px;
  text-align: left;
  font-size: 24px;
}
.rectangle-icon {
  position: absolute;
  top: 1744px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 667px;
}
.about-us,
.heading-21 {
  position: absolute;
  left: 0;
}
.about-us {
  top: 0.2px;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 231px;
  height: 48px;
}
.heading-21 {
  width: 100%;
  top: 0;
  right: 0;
  height: 65px;
  font-family: Barlow;
}
.nuclear-management-consultants {
  position: absolute;
  top: 94px;
  left: 0;
  font-size: 20px;
  line-height: 32.04px;
  display: flex;
  align-items: center;
  width: 575px;
  height: 193px;
}
.background2 {
  position: absolute;
  height: calc(100% - 4px);
  top: 2px;
  bottom: 2px;
  left: -194px;
  background-color: #fff;
  width: 196px;
}
.border {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.link-read {
  position: absolute;
  top: 17px;
  left: calc(50% - 37.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75.4px;
  height: 18px;
}
.container {
  position: absolute;
  top: 317.2px;
  left: 0;
  width: 200px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
}
.heading-2-group {
  position: absolute;
  top: 1879px;
  left: calc(50% - 510px);
  width: 996px;
  height: 398px;
  text-align: left;
  font-size: 40px;
}
.image-19-icon {
  position: absolute;
  top: 1849px;
  left: 804px;
  width: 732px;
  height: 487px;
  object-fit: cover;
}
.processing-and-maintaining {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 996px;
  height: 48px;
}
.heading-22 {
  width: 996px;
  position: relative;
  height: 65px;
}
.salary-structuring-payrolls-container {
  width: 765px;
  position: relative;
  font-size: 24px;
  line-height: 32.04px;
  font-family: Inter;
  display: inline-block;
  height: 578px;
  flex-shrink: 0;
}
.heading-2-container {
  position: absolute;
  top: 3360px;
  left: calc(50% - 496px);
  height: 584px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  text-align: left;
  font-size: 40px;
  font-family: Barlow;
}
.our-special-service {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 520px;
  height: 48px;
}
.processing-and-maintaining-container {
  width: 906px;
  position: relative;
  font-size: 24px;
  line-height: 32.04px;
  font-family: Inter;
  display: flex;
  align-items: center;
  height: 318px;
  flex-shrink: 0;
}
.heading-2-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.frame-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 996px;
  height: 398px;
}
.we-advise-in {
  margin: 0;
  font-weight: 600;
}
.the-industrial-disputes-act-1 {
  margin: 0;
  font-size: inherit;
  padding-left: 32px;
}
.we-advise-in-container1 {
  width: 100%;
}
.we-advise-in-container {
  width: 906px;
  position: relative;
  line-height: 32.04px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.we-advise-in-implementation-wrapper {
  position: absolute;
  top: 422px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 24px;
  font-family: Inter;
}
.frame-parent {
  position: absolute;
  top: 5078px;
  left: 217px;
  width: 996px;
  height: 699px;
  text-align: left;
  font-size: 40px;
  font-family: Barlow;
}
.title {
  position: relative;
  line-height: 40px;
  font-weight: 800;
}
.px {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f1f3f7;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.spacer {
  width: 16px;
  position: relative;
  height: 16px;
  opacity: 0;
}
.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.px1,
.text {
  position: absolute;
}
.px1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f1f3f7;
  border: 1px solid #6d7590;
  box-sizing: border-box;
}
.text {
  top: 38.75%;
  left: 30%;
  letter-spacing: 0.08em;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.spacer1 {
  width: 40px;
  position: relative;
  height: 40px;
  opacity: 0;
  font-size: 12px;
  color: #6d7590;
}
.circle-avatar-icon {
  width: 48px;
  position: relative;
  border-radius: 26px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.px2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f1f3f7;
  border: 1px solid #067ab2;
  box-sizing: border-box;
}
.title1 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.title-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background-color: #067ab2;
}
.facebook-icon {
  position: absolute;
  height: 50%;
  width: 27.08%;
  top: 25%;
  right: 36.67%;
  bottom: 25%;
  left: 36.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media-icon-squarefaceb {
  width: 24px;
  position: relative;
  height: 24px;
}
.twitter-icon {
  position: absolute;
  height: 40.42%;
  width: 50%;
  top: 29.58%;
  right: 25%;
  bottom: 30%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media-icon-squareinsta {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.information,
.social-media-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.social-media-wrapper {
  align-items: flex-start;
  gap: 16px;
}
.information {
  align-self: stretch;
  align-items: center;
}
.text1 {
  position: absolute;
  top: 29.17%;
  left: 16.67%;
  letter-spacing: 0.08em;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.spacer4 {
  width: 24px;
  position: relative;
  height: 24px;
  opacity: 0;
  text-align: center;
  font-size: 12px;
}
.paragraph {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.content,
.member-v4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
}
.member-v4 {
  width: 480px;
  box-shadow: 0 1px 4px rgba(25, 33, 60, 0.08);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #f1f3f7;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 32px 40px;
}
.vp-of-finance {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #b4b9c9;
}
.column-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
}
.team-members,
.team-members-v15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.team-members {
  align-items: flex-start;
  gap: 22px;
  text-align: left;
  font-size: 18px;
  color: #067ab2;
}
.team-members-v15 {
  position: absolute;
  top: 5933px;
  left: calc(50% - 720px);
  background-color: #004777;
  width: 1440px;
  overflow: hidden;
  align-items: center;
  padding: 80px 167px;
  box-sizing: border-box;
  font-size: 36px;
}
.title6 {
  width: 405.5px;
  position: relative;
  line-height: 36px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.spacer14 {
  width: 24px;
  position: relative;
  height: 24px;
  opacity: 0;
  font-size: 12px;
}
.line-roundedsearch-icon {
  width: 11px;
  position: relative;
  height: 11px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-text {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.call-to-action,
.primary-button {
  align-items: center;
  justify-content: center;
}
.primary-button {
  border-radius: 7px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 15px 18px;
  gap: 3px;
  font-size: 14px;
}
.call-to-action {
  width: 1106px;
  border-radius: 8px;
  background-color: #6d7590;
  display: none;
  flex-direction: column;
  padding: 41px 18px;
  box-sizing: border-box;
  font-size: 30px;
}
.footer-description {
  width: 303.5px;
  position: relative;
  line-height: 24px;
  display: none;
}
.px15,
.text6 {
  position: absolute;
}
.px15 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f1f3f7;
  border: 1px solid #353d5d;
  box-sizing: border-box;
}
.text6 {
  top: 35.94%;
  left: 25%;
  letter-spacing: 0.08em;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.spacer15 {
  width: 32px;
  position: relative;
  height: 32px;
  display: none;
  opacity: 0;
  text-align: center;
  font-size: 12px;
}
.brix-icon,
.logo-fulldark-child {
  width: 27.4px;
  position: relative;
  height: 28px;
}
.brix-icon {
  width: 61.7px;
  height: 25.3px;
  display: none;
}
.logo-fulldark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5.6px;
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-roundedhome-icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.link-item {
  position: relative;
  line-height: 22px;
}
.link {
  justify-content: flex-start;
  gap: 6px;
}
.header-bottom-left,
.link,
.nav-links,
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-list {
  justify-content: flex-start;
  gap: 24px;
}
.header-bottom-left,
.nav-links {
  justify-content: flex-end;
}
.nav-links {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: #fff;
}
.social-media-icon8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background-color: #004777;
}
.linkedin-icon {
  position: absolute;
  height: 47.5%;
  width: 50%;
  top: 26.25%;
  right: 25%;
  bottom: 26.25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media-icon-parent,
.social-media-icon11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.social-media-icon11 {
  border-radius: 4px;
  background-color: #b4b9c9;
}
.youtube-icon {
  position: absolute;
  height: 38.75%;
  width: 55%;
  top: 30.42%;
  right: 22.5%;
  bottom: 30.83%;
  left: 22.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media-icon-squareyoutu {
  width: 24px;
  position: relative;
  height: 24px;
  display: none;
}
.footer-top {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.span {
  color: #e1e4ed;
}
.all-rights-reserved {
  color: #fff;
}
.terms-and-conditions {
  text-decoration: underline;
}
.footer-botom,
.footer-v20 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.footer-botom {
  align-self: stretch;
  border-top: 1px solid #e1e4ed;
  height: 60px;
  flex-direction: row;
  justify-content: center;
  padding: 24px 0;
  color: #fff;
}
.footer-v20 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 722px);
  background-color: #004777;
  width: 1440px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 48px 167px 0;
  gap: 48px;
  font-size: 16px;
  color: #6d7590;
}
.let-us-know {
  margin: 0;
}
.heading-h1 {
  width: 481px;
  position: relative;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  display: inline-block;
}
.text7 {
  position: absolute;
  top: 36.36%;
  left: 25%;
  letter-spacing: 0.08em;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.spacer17 {
  width: 32px;
  position: relative;
  height: 11px;
  opacity: 0;
  text-align: center;
  font-size: 12px;
}
.icon-squareimage {
  width: 48px;
  position: relative;
  height: 48px;
  object-fit: cover;
}
.footer-title,
.link-item4 {
  position: relative;
  line-height: 20px;
}
.link-item4 {
  line-height: 22px;
  font-weight: 600;
}
.line-roundedarrow-rigth {
  width: 15px;
  position: relative;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.link4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  font-size: 16px;
}
.px19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}
.px18 {
  gap: 16px;
}
.link5,
.px18,
.px20 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.link5 {
  gap: 6px;
  text-align: center;
  font-size: 16px;
}
.px20 {
  padding: 34px 0 0;
  gap: 16px;
}
.divider-icon {
  width: 340px;
  position: relative;
  max-height: 100%;
}
.grid1 {
  flex: 1;
  height: 419px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-roundedsearch-icon1 {
  width: 12px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.placeholder-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.input-text {
  align-self: stretch;
  box-shadow: 0 1px 4px rgba(25, 33, 60, 0.08);
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #f1f3f7;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 16px;
}
.column-11,
.input-text,
.name {
  display: flex;
  justify-content: flex-start;
}
.name {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.column-11 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.placeholder3 {
  align-self: stretch;
  width: 250px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
}
.message,
.placeholder-wrapper4,
.text-area {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.placeholder-wrapper4 {
  flex: 1;
  flex-direction: row;
  gap: 4px;
}
.message,
.text-area {
  flex-direction: column;
}
.text-area {
  box-shadow: 0 1px 4px rgba(25, 33, 60, 0.08);
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #f1f3f7;
  box-sizing: border-box;
  height: 92px;
  padding: 16px;
}
.message {
  gap: 12px;
}
.line-roundedsearch-icon6 {
  width: 10px;
  position: relative;
  height: 10px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.line-roundedarrow-rigth4 {
  width: 12px;
  position: relative;
  height: 12px;
}
.primary-button1 {
  box-shadow: 0 1px 4px rgba(25, 33, 60, 0.08);
  border-radius: 6px;
  background-color: #067ab2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 18px;
  gap: 3px;
  text-align: center;
}
.form-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.contact-v14,
.form-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.form-wrapper {
  width: 523px;
  box-shadow: 0 1px 4px rgba(25, 33, 60, 0.08);
  border-radius: 8px;
  background-color: #004777;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
}
.contact-v14 {
  position: absolute;
  top: 7318px;
  left: calc(50% - 720px);
  background-color: #067ab2;
  width: 1440px;
  flex-direction: row;
  align-items: center;
  padding: 80px 215px;
  gap: 60px;
  text-align: left;
  font-size: 14px;
}
.rectangle-div {
  position: absolute;
  top: 6589px;
  left: calc(50% - 719px);
  background-color: #fff;
  width: 1438px;
  height: 729px;
}
.background5 {
  position: absolute;
  top: 61px;
  left: 0;
  background-color: #067ab2;
  width: 40px;
  height: 4px;
}
.heading-2-wrapper {
  position: absolute;
  top: 6631px;
  left: 275px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 40px;
  color: #067ab2;
  font-family: Barlow;
}
.image-5-icon {
  position: absolute;
  top: 19.3px;
  left: 355.1px;
  width: 160.2px;
  height: 77.8px;
  object-fit: cover;
}
.image-6-icon,
.image-7-icon,
.image-8-icon {
  position: absolute;
  top: 342.8px;
  left: 737.9px;
  width: 214.9px;
  height: 166.4px;
  object-fit: cover;
}
.image-7-icon,
.image-8-icon {
  top: 150.2px;
  left: 241.1px;
  width: 190.3px;
}
.image-8-icon {
  top: 0;
  left: 0;
  width: 269.6px;
  height: 97.1px;
}
.image-11-icon,
.image-12-icon,
.image-9-icon {
  position: absolute;
  top: 127.9px;
  left: 480.7px;
  width: 202.6px;
  height: 202.6px;
  object-fit: cover;
}
.image-11-icon,
.image-12-icon {
  top: 345.9px;
  left: 0;
  width: 331.2px;
  height: 184.1px;
}
.image-12-icon {
  top: 3.9px;
  left: 582.3px;
  width: 394.4px;
  height: 108.6px;
}
.group-child,
.image-14-icon,
.image-15-icon {
  position: absolute;
  top: 316.6px;
  left: 355.1px;
  width: 400.6px;
  height: 243.4px;
  object-fit: cover;
}
.group-child,
.image-15-icon {
  top: 146.4px;
  left: 0;
  width: 166.4px;
  height: 166.4px;
}
.group-child {
  left: 779.5px;
  width: 173.3px;
  height: 173.3px;
}
.image-5-parent {
  position: absolute;
  top: 6719px;
  left: 275px;
  width: 976.7px;
  height: 560px;
}
.ellipse-icon {
  position: absolute;
  top: 2484px;
  left: calc(50% + 298px);
  border-radius: 50%;
  width: 751px;
  height: 751px;
  object-fit: cover;
}
.we-conduct-audits-container {
  width: 996px;
  position: relative;
  font-size: 24px;
  line-height: 32.04px;
  font-family: Inter;
  display: inline-block;
  height: 1120px;
  flex-shrink: 0;
}
.desktop-6-inner1 {
  position: absolute;
  top: 4077px;
  left: calc(50% - 496px);
  width: 955px;
  height: 895px;
  text-align: left;
  font-size: 40px;
  font-family: Barlow;
}
.desktop-6-child2 {
  position: absolute;
  top: 3546px;
  left: calc(50% + 243px);
  border-radius: 50%;
  background-color: rgba(0, 71, 119, 0.14);
  width: 593px;
  height: 593px;
}
.group-icon,
.vector-icon {
  position: absolute;
  height: 0.34%;
  width: 1.89%;
  top: 46.82%;
  right: 1.44%;
  bottom: 52.84%;
  left: 96.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon {
  height: 5.01%;
  width: 40.33%;
  top: 44.66%;
  right: -9.01%;
  bottom: 50.33%;
  left: 68.68%;
}
.horizontal-divider {
  width: 100%;
  top: -6px;
  right: 0;
  left: 0;
}
.button-ouvrir-le-menu,
.horizontal-divider,
.horizontal-divider1 {
  position: absolute;
  border-radius: 2px;
  background-color: #f9fafb;
  height: 1px;
}
.horizontal-divider1 {
  width: 100%;
  right: 0;
  bottom: -6px;
  left: 0;
}
.button-ouvrir-le-menu {
  top: calc(50% - 0.2px);
  left: 399.3px;
  width: 20px;
  display: none;
}
.item-link,
.item-link1 {
  width: 59.6px;
  position: relative;
  line-height: 19.6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19.6px;
  flex-shrink: 0;
}
.item-link1 {
  width: 73px;
  height: 20px;
}
.item-link-rhtors-parent {
  position: absolute;
  top: 17px;
  left: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.header,
.header-wrapper {
  position: absolute;
  width: 469px;
  height: 55px;
}
.header {
  top: 0;
  left: calc(50% - 234.5px);
  backdrop-filter: blur(20px);
  border-radius: 999px;
  background-color: #fff;
  border: 1px solid #067ab2;
  box-sizing: border-box;
}
.header-wrapper {
  top: 25px;
  left: calc(50% - 234px);
  font-size: 14px;
  color: #067ab2;
  font-family: Poppins;
}
.curiosity-peoplepana-icon {
  position: absolute;
  height: 4.29%;
  width: 25.83%;
  top: 17.27%;
  right: 35.35%;
  bottom: 78.44%;
  left: 38.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.helping-set-the {
  position: absolute;
  top: 945px;
  left: 137px;
  font-size: 100px;
  line-height: 156px;
  display: flex;
  color: #067ab2;
  align-items: center;
  justify-content: center;
  width: 1152px;
  height: 184px;
}
.span3 {
  color: #0b294f;
}
.span4 {
  font-weight: 500;
  color: #067ab2;
}
.span5 {
  color: #231f20;
}
.c,
.e,
.l,
.n,
.s,
.u,
.u1,
.whys-hows-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.whys-hows-container {
  top: 1101px;
  left: 137px;
  font-size: 100px;
  line-height: 156px;
  width: 1152px;
  height: 184px;
}
.c,
.e,
.l,
.n,
.s,
.u,
.u1 {
  top: 483px;
  left: 102px;
  line-height: 19.6px;
  justify-content: center;
  width: 208px;
  height: 288px;
}
.c,
.e,
.l,
.s,
.u,
.u1 {
  left: 293px;
}
.c,
.e,
.l,
.s,
.u1 {
  left: 466px;
}
.e,
.l,
.s,
.u1 {
  left: 627px;
}
.e,
.s,
.u1 {
  left: 781px;
}
.s,
.u1 {
  left: 975px;
}
.s {
  left: 1152px;
}
.desktop-6 {
  width: 100%;
  position: relative;
  background-color: #004777;
  height: 8088px;
  overflow: hidden;
  text-align: center;
  font-size: 260px;
  color: #fff;
  font-family: Inter;
}
